header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(0, 126, 189);
    width: 100%;
}

header ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

header ul li{
    margin: 0 50px 0 50px;
    align-items: center;
    align-content: center;
    justify-content: space-around;
}

header img{
    margin: 10px;
    padding: 10px;
}

img{
    width: 150px;
}

h1{
    display: flex;
    font-size: 20px;
    color: rgb(0, 126, 189);
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

h3{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

footer{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 126, 189);
    width: 100%;
    height: 100%;
    align-content: last baseline;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px 0;
}

.pp{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(49, 181, 247, 0.485);    
}

.pp h2{
    display: flex;
    justify-content: center;
    font-size: 19px;
}

.pp p{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.box{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.box img{
    width: 250px;
    border-radius: 50%;
    
}

.box p{
    font-size: 12px;

}

#nosotros{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(49, 181, 247, 0.485);
}

#nostros p{
    font-size: 14px;
}

#nosotros iframe{
    padding: 10px;
    margin: 25px;
}

#pe{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#nosotros ul{
    display: flex;
    flex-direction: column;
}

#nosotros ul p{
    font-size: 15px;
    margin: 5px;
    text-decoration: none;
}

#nosotros ul img{
    height: 20px;
    width: 20px;
}

#nosotros ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    margin: 5px;
}

.direccion p{
    font-size: 16px;
}

*::-webkit-scrollbar{
    display: none;
}

a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}